
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8;
    overflow-x: hidden;
}

.background {
    background-image: url('../assets/loginback.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.reg-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 800px;
    max-width: 1200px;
    padding: 20px;
    margin-top: 10px;
}

.form-card {
    background-image:url('../assets/login.jpg') ;
    backdrop-filter: blur(5px); 
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    padding: 20px;
    overflow-y: auto;
    max-height: 90vh;
    &::-webkit-scrollbar {
        display: none; 
    }

    scrollbar-width: none;
}


.form-header {
    text-align: center;
    margin-bottom: 30px;
    color: #0b6fda; 
    font-size: 2rem; 
    font-weight: 700; 
    font-family: 'Arial', sans-serif; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
    letter-spacing: 1px; 
    text-transform: uppercase;
    padding: 10px 0; 
    background: linear-gradient(to right, #202021, #1e90ff); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}

.form-header h3 {
    margin: 0;
}


.form-row {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
}

.form-group {
    flex: 1;
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.form-group input:focus {
    outline: none;
    border-color: #007bff;
}


.regbutton-container {
    display: flex;             
    justify-content: center;  
    margin-top: 20px;
}


.reg-btn {
    width: 150px;
    background-color: #007bff; 
    color: white;
    padding: 15px 20px; 
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    font-size: 18px; 
    transition: background-color 0.3s ease; 
}

.reg-btn:hover {
    background-color: #0056b3;
}


.login-link {
    text-align: center; 
    margin-top: 15px;
    font-size: 16px;
}

.login-link a {
    color: #007bff; 
    text-decoration: none; 
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .form-row {
      flex-direction: column;
    }

    .container {
      padding: 10px;
    }

    .form-card {
      max-width: 100%;
      padding: 20px;
    }
    
}
